# PANDAS

In [1]:
import pandas as pd

# series

In [7]:
city1=pd.Series([30,27,20,-2,-1])

In [9]:
print(city1)

0    30
1    27
2    20
3    -2
4     0
dtype: int64

In [11]:
city1.values

array([30, 27, 20, -2,  0], dtype=int64)

In [13]:
city1.index

RangeIndex(start=0, stop=5, step=1)

In [14]:
city1.dtype

dtype('int64')

In [17]:
city1=pd.Series([30,27,20,-2,-1],index=['june','july','august','december','november'])
city1

june        30
july        27
august      20
december    -2
november    -1
dtype: int64

In [18]:
city1['june']

30

In [21]:
city1[['june','december']]

june        30
december    -2
dtype: int64

In [22]:
city1>0

june         True
july         True
august       True
december    False
november    False
dtype: bool

In [23]:
city1<0

june        False
july        False
august      False
december     True
november     True
dtype: bool

In [24]:
city1[city1>0]

june      30
july      27
august    20
dtype: int64

In [25]:
city1.min()

-2

In [26]:
city1.max()

30

In [28]:
city1[(city1>0) & (city1<30)]

july      27
august    20
dtype: int64

In [30]:
city1+5 #scalar operation

june        35
july        32
august      25
december     3
november     4
dtype: int64

In [54]:
ages= pd.Series({'syam':'25','devika':'23','chandrika':'54','surendran':'64','vipin':'30'})

In [55]:
ages

syam         25
devika       23
chandrika    54
surendran    64
vipin        30
dtype: object

In [56]:
states=pd.Series(['thrissur','ernakulam','kozhikode','palakkad','malappuram'])

In [57]:
data = pd.Series(ages, index= states)

In [58]:
data

thrissur      NaN
ernakulam     NaN
kozhikode     NaN
palakkad      NaN
malappuram    NaN
dtype: object

In [59]:
data.isna()

thrissur      True
ernakulam     True
kozhikode     True
palakkad      True
malappuram    True
dtype: bool

In [62]:
data.isna()

thrissur      True
ernakulam     True
kozhikode     True
palakkad      True
malappuram    True
dtype: bool